<!DOCTYPE html>
<html>
  <head>
    <title>TodayILearned</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-indigo-600">
    <%= render 'layouts/notices' %>
    <%= yield %>
  </body>
</html>
